{{!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to {{website}}</h1>
    <p>This website is managed by {{name}}.</p>
    <p>Price of featured product: ${{price}}</p>
    <p>About the website: {{description}}</p>
    <ol>
        {{#each tasks}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello
</body>
</html>